# Solution for debugging example
src/dealingWithDebuggingSolution.java

# Personal notes for lecturing
NOTES.md

# Other unversioned files
.idea/codeStyleSettings.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/vcs.xml
out/production/00-example-project/dealingWithDebugging.class
out/production/00-example-project/dealingWithDebuggingSolution.class
